@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;


* {
  box-sizing: border-box;
}

.levetate {
  animation: levetate 10s alternate infinite;
  -webkit-animation: levetate 10s infinite;
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
}

.levetate:nth-child(1) {
  animation-delay: .3s;
}

.levetate:nth-child(2) {
  animation-delay: .9s;
  animation-direction: reverse;
}

.levetate:nth-child(3) {
  animation-delay: 1.1s;
}

.levetate:nth-child(4) {
  animation-delay: 1.3s;
  animation-direction: reverse;
}

.levetate:nth-child(5) {
  animation-delay: 1.8s;
}

.levetate:nth-child(6) {
  animation-delay: 3s;
  animation-direction: reverse;
}

.fade {
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1
  }
}

@keyframes levetate {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  25% {
    transform: translate(17, 1px);
    -webkit-transform: translate(17, 1px);
    -moz-transform: translate(17, 1px);
    -ms-transform: translate(17, 1px);
    -o-transform: translate(17, 1px);
  }

  50% {
    transform: translate(3px, 15px);
    -webkit-transform: translate(3px, 15px);
    -moz-transform: translate(3px, 15px);
    -ms-transform: translate(3px, 15px);
    -o-transform: translate(3px, 15px);
  }

  75% {
    transform: translate(-16px, 7px);
    -webkit-transform: translate(-16px, 7px);
    -moz-transform: translate(-16px, 7px);
    -ms-transform: translate(-16px, 7px);
    -o-transform: translate(-16px, 7px);
  }
}